<!--
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">


        <ul>
            {{#each games }}
                <li>
                    <b><a href="/game/{{ this.name }}">{{ this.name }}</a></b>
                    ({{ this.words.length }} Wörter,
                    {{ this.players.length }} Spieler)
                </li>
            {{/each}}

        </ul>
    </div>
</div>
-->

<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <h3>Hier sind alle laufenden Spiele</h3>
        <br>
    </div>
</div>

{{#each games}}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ this.name }}</h3>
                </div>
                <div class="panel-body">
                    {{ this.words.length }} Wörter, {{ this.players.length }} Spieler
                    <br>
                    <a href="/game/{{ this.name }}" class="btn btn-default" role="button">Mitspielen</a>
                </div>
            </div>

        </div>
    </div>
{{/each}}

<!--
<br><br><br>
<hr>
<p>Das Objekt sieht im Detail so aus:</p>
<pre>
    {{ games }}
</pre>
-->