<div class="row">
    <div class="col-sm-5">
        <h3>Hier sind alle laufenden Spiele</h3>

        <ul>
            {{#each games }}
                <li>
                    <a href="/game/{{ this.name }}">{{ this.name }}</a>
                    ({{ this.words.length }} Wörter,
                    {{ this.players.length }} Spieler)
                </li>
            {{/each}}

        </ul>
    </div>
</div>

<!--
<br><br><br>
<hr>
<p>Das Objekt sieht im Detail so aus:</p>
<pre>
    {{ games }}
</pre>
-->